.Home {
}

.Home__wrapper {
    margin-top: 6.4rem;
}

.header {
    width: 100%;
    max-width: 70rem;
    margin-bottom: 3.2rem;
}

.header__name-last {
    margin: 0;
    margin-left: 5rem;
}

.header__name-last span { display: block; }
.header__name-last span:last-child { 
    margin-top: 1rem;
}

/* Content */
.content {
    width: 100%;
    max-width: 48rem;
}

.about,
.present {
    margin-bottom: 6.4rem;
}

/* About section */
.about__portrait {
    width: 100%;
}

.about__toolbox {
    padding: 2rem;
    border-radius: 2px;
    background-color: #242629;
}

/* Present */
.present__list li {
    position: relative;
    margin-left: 1.6rem;
}

.present__list li:before {
    content: "";
    height: 1.6rem;
    width: 3px;
    position: absolute;
    left: -1.6rem;
    top: 50%;
    transform: translateY(-40%);
    background-color: #94a1b2;
}

/* Work */
.work {
    margin-bottom: 12.8rem;
}

/* Footer */

.footer {
    background-color: #242629;
    text-align: center;
    height: 24rem;
}

.footer__wrapper {
    width: 100%;
    max-width: 48rem;
}

.footer__list li {
    display: flex;
    align-items: center;
}

.footer__list li svg {
    margin-right: 1rem;
}
